## Data Modeling 

### Supervised classification problem

So lets start by applying multiple algorithm and checking for accuracy ,  Cross Validation score and confusion matrix

We will apply these algorithms K Nearest Neighbor, Naive Bayes, Random Forest, Linear Regression, and Support Vector Machines (SVM)

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_auc_score, roc_curve

import warnings
warnings.filterwarnings('ignore')

In [3]:
df_Linear = pd.read_csv('Cleaned Data Linear.csv')
df_Tree = pd.read_csv('Cleaned Data Tree.csv')

In [4]:
df_Linear

,Customer_ID,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,...,prizm_social_one_S,prizm_social_one_T,prizm_social_one_U,prizm_social_one_UN,ownrent_O,ownrent_R,ownrent_UN,infobase_M,infobase_N,infobase_UN
0,1000001,23.997500,219.250000,22.50,0.2475,0.000000,0.000000,0.000000,0.00,0.00,...,1,0,0,0,1,0,0,1,0,0
1,1000003,16.990000,10.250000,16.99,0.0000,0.000000,0.000000,0.000000,0.00,0.00,...,1,0,0,0,1,0,0,1,0,0
2,1000004,38.000000,7.500000,38.00,0.0000,0.000000,0.000000,0.000000,0.00,0.00,...,0,1,0,0,0,0,1,1,0,0
3,1000005,55.230000,570.500000,71.98,0.0000,0.000000,0.000000,0.000000,0.00,0.00,...,0,0,1,0,0,1,0,1,0,0
4,1000007,17.145000,0.000000,16.99,0.0000,0.000000,0.000000,0.000000,0.00,0.00,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77611,1099977,31.923333,63.333333,16.99,0.0000,42.666667,14.933333,14.933333,0.00,0.00,...,0,0,0,0,1,0,0,1,0,0
77612,1099982,34.990000,6.333333,44.99,0.0000,0.000000,0.000000,0.000000,0.00,0.00,...,1,0,0,0,1,0,0,1,0,0
77613,1099985,85.150000,815.000000,87.99,0.0000,1.000000,0.390000,0.000000,0.39,0.39,...,0,0,0,1,0,0,1,1,0,0
77614,1099986,71.993333,724.000000,70.00,0.0000,4.333333,1.083333,1.083333,0.00,0.91,...,0,0,0,1,1,0,0,1,0,0
77615,1099987,117.490000,384.000000,29.99,0.0000,250.000000,87.500000,87.500000,0.00,0.00,...,0,0,1,0,0,1,0,1,0,0

In [5]:
df_Linear_ID = df_Linear.set_index('Customer_ID')
df_Tree_ID = df_Tree.set_index('Customer_ID')

In [6]:
X_Linear= df_Linear_ID.drop(['churn'],axis=1)
X_Tree = df_Tree_ID.drop(['churn'],axis=1)
X_Tree

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,months,new_cell,numbcars,ownrent,phones,prizm_social_one,refurb_new,rv,truck,uniqsubs
Customer_ID,,,,,,,,,,,,,,,,,,,,,
1000001,3373,999,958,1,0,0,0,0,0,1914,...,54,1,3,0,1,2,0,0,0,1
1000003,1819,51,566,0,0,0,0,0,0,2604,...,51,2,2,0,1,2,0,0,0,0
1000004,7881,37,2408,0,0,0,0,0,0,2620,...,53,2,1,2,0,3,0,0,0,0
1000005,14097,2480,4930,0,0,0,0,0,0,2826,...,50,2,1,1,5,4,0,0,0,0
1000007,1852,0,566,0,0,0,0,0,0,2629,...,46,0,0,0,3,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099977,5529,304,566,0,223,2651,1383,0,0,2433,...,23,1,2,0,0,0,0,0,0,0
1099982,6708,32,3108,0,0,0,0,0,0,2592,...,23,1,0,0,2,2,0,0,0,0
1099985,22331,3488,5422,0,6,57,0,25,54,2629,...,20,1,2,2,2,5,0,0,0,2
1099986,19233,3121,4842,0,26,191,122,0,197,2424,...,23,1,0,0,0,5,0,0,0,0
1099987,26369,1707,1587,0,1090,7205,4359,0,0,2629,...,23,1,0,1,1,4,0,0,0,0

In [7]:
y_Linear=pd.DataFrame(df_Linear_ID['churn'])
y_Tree = pd.DataFrame(df_Tree_ID['churn'])
y_Tree

             churn
Customer_ID
1000001          1
1000003          1
1000004          0
1000005          0
1000007          1
...            ...
1099977          0
1099982          1
1099985          1
1099986          0
1099987          1

[77616 rows x 1 columns]

## Normalise the dataset

## Method 1 : Compare CV score of multiple models

In [ ]:
# Compare Algorithms(Add the library)

import time

from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

# prepare configuration for cross validation test harness
seed = 42

# prepare models(add the model)
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('Random Forest', RandomForestClassifier()))
models.append(('XGBoost',XGBClassifier()))
models.append(('ADABoost',AdaBoostClassifier()))

print("Algorithm: Average Accuracy (Average Standard deviation) ")
# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'
for name, model in models:
    
    if name == 'LR' or name =='LDA' or name == 'KNN'  or name == 'NB' :
        X=X_Linear
        y=y_Linear
    elif name == 'DT' or name == 'Random Forest' or name == 'XGBoost' or name=='ADABoost':
        X=X_Tree
        y=y_Tree
        
    start_time = time.time()
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    
    
    cv_results = model_selection.cross_val_score(model, X, y, cv=kfold, scoring=scoring)        
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg,"Processing time",":{0:.2f} seconds".format(time.time() - start_time))

# boxplot algorithm comparison
fig = plt.figure(figsize=(20,10))
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

## Method 2 - Detailed evaluation

In [7]:
def print_score(clf, X_train, X_test, y_train, y_test, train=True):
    '''
    v0.1 Follow the scikit learn library format in terms of input
    print the accuracy score, classification report and confusion matrix of classifier
    '''
    lb = preprocessing.LabelBinarizer()
    lb.fit(y_train)
    if train:
        '''
        training performance
        '''
        res_train = clf.predict(X_train)
        print("Train Result:\n")
        print("accuracy score: {0:.4f}\n".format(accuracy_score(y_train, 
                                                                res_train)))
        print("Classification Report: \n {}\n".format(classification_report(y_train, 
                                                                            res_train)))
        print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_train, 
                                                                  res_train)))
        print("ROC AUC: {0:.4f}\n".format(roc_auc_score(lb.transform(y_train), 
                                                      lb.transform(res_train))))

        res_cross = cross_val_score(clf, X_train, y_train, cv=10, scoring='accuracy')
        print("The cross validation score are: ","\n", res_cross,"\n")
        print("Average Accuracy: \t {0:.4f}".format(np.mean(res_cross)))
        print("Accuracy SD: \t\t {0:.4f}".format(np.std(res_cross)))
        
    elif train==False:
        '''
        test performance
        '''
        res_test = clf.predict(X_test)
        print("Test Result:\n")        
        print("accuracy score: {0:.4f}\n".format(accuracy_score(y_test, 
                                                                res_test)))
        print("Classification Report: \n {}\n".format(classification_report(y_test, 
                                                                            res_test)))
        print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_test, 
                                                                  res_test)))   
        print("ROC AUC: {0:.4f}\n".format(roc_auc_score(lb.transform(y_test), 
                                                      lb.transform(res_test))))

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(random_state=42)

X_train, X_test, y_train, y_test = train_test_split(X_Tree, y_Tree, test_size=0.2,random_state=42)

rf_clf.fit(X_train, y_train)

print_score(rf_clf, X_train, X_test, y_train, y_test, train=True)
print("\n******************************\n")
print_score(rf_clf, X_train, X_test, y_train, y_test, train=False)

pred_rf = rf_clf.predict_proba(X_test)
fpr_rf, tpr_rf, thresh_rf = roc_curve(y_test, pred_rf[:,1], pos_label=1)

### K-Nearest neighbours

In [26]:
from sklearn import preprocessing


X_train, X_test, y_train, y_test = train_test_split(X_Linear, y_Linear, test_size=0.2,random_state=42)


scaler = preprocessing.MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)


knn= KNeighborsClassifier(n_neighbors=1000)
knn.fit(X_train_scaled, y_train)


X_test_scaled = scaler.transform(X_test)

In [ ]:
y_pred = knn.predict(X_test_scaled)
y_pred

In [23]:

'''
#Converting numpy array to dataframe
training_norm_col = pd.DataFrame(norm_train, index=X_train.index, columns=X_train.columns) 

X_train.update(training_norm_col)


from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=1000)

knn.fit(X_train,y_train)

norm_test = preprocessing.MinMaxScaler().transform(X_test)

result = knn.predict(X_test)
'''

array([[0.36459328, 0.37357576, 0.29038888, ..., 0.        , 0.        ,
        1.        ],
       [0.36465608, 0.20242424, 0.3698923 , ..., 1.        , 0.        ,
        0.        ],
       [0.53156559, 0.17054545, 0.90701307, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.28710496, 0.2089697 , 0.454822  , ..., 1.        , 0.        ,
        0.        ],
       [0.20425313, 0.03684848, 0.3068322 , ..., 1.        , 0.        ,
        0.        ],
       [0.34730945, 0.11175758, 0.29174546, ..., 1.        , 0.        ,
        0.        ]])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score



K= [100]

acc = []
for k in K:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train,y_train)
    yhat = knn.predict(X_test)
    acc.append(accuracy_score(y_test, yhat))
    
plt.plot(K, acc)
plt.title('Acc vs. K Value')
plt.xlabel('K')
plt.ylabel('Acc')

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=1000)

In [11]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1000)

In [ ]:
result = knn.predict(X_test)

In [ ]:

print_score(knn, X_train, X_test, y_train, y_test, train=True)
print("\n******************************\n")
print_score(knn, X_train, X_test, y_train, y_test, train=False)

pred_knn = knn.predict_proba(X_test)
fpr_knn, tpr_knn, thresh_knn = roc_curve(y_test, pred_knn[:,1], pos_label=1)

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

clf_lr = LogisticRegression()

X_train, X_test, y_train, y_test = train_test_split(X_Linear, y_Linear, test_size=0.2,random_state=42)

clf_lr.fit(X_train, y_train)

print_score(clf_lr, X_train, X_test, y_train, y_test, train=True)
print("\n******************************\n")
print_score(clf_lr, X_train, X_test, y_train, y_test, train=False)

pred_lr = clf_lr.predict_proba(X_test)
fpr_lr, tpr_lr, thresh_lr = roc_curve(y_test, pred_lr[:,1], pos_label=1)

### Gaussian Navie Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

clf_gnb = GaussianNB()

X_train, X_test, y_train, y_test = train_test_split(X_Tree, y_Tree, test_size=0.2,random_state=42)

clf_gnb.fit(X_train, y_train)

print_score(clf_gnb, X_train, X_test, y_train, y_test, train=True)
print("\n******************************\n")
print_score(clf_gnb, X_train, X_test, y_train, y_test, train=False)

pred_gnb = clf_gnb.predict_proba(X_test)
fpr_gnb, tpr_gnb, thresh_gnb = roc_curve(y_test, pred_gnb[:,1], pos_label=1)

### Support vector machine

In [ ]:
#from sklearn.svm import SVC

#clf_svm = SVC(kernel='linear')

#clf_svm.fit(X_train, y_train)

#print_score(clf_svm, X_train, X_test, y_train, y_test, train=True)
#print("\n******************************\n")
#print_score(clf_svm, X_train, X_test, y_train, y_test, train=False)

#pred_svm = clf_svm.predict_proba(X_test)
#fpr_svm, tpr_svm, thresh_svm = roc_curve(y_test, pred_svm[:,1], pos_label=1)

### XGBoost

In [ ]:
#pip install xgboost

In [ ]:
import xgboost as xgb

clf_xgb = xgb.XGBClassifier()

X_train, X_test, y_train, y_test = train_test_split(X_Tree, y_Tree, test_size=0.2,random_state=42)

clf_xgb.fit(X_train, y_train)

print_score(clf_xgb, X_train, X_test, y_train, y_test, train=True)
print("\n******************************\n")
print_score(clf_xgb, X_train, X_test, y_train, y_test, train=False)

pred_xgb = clf_xgb.predict_proba(X_test)
fpr_xgb, tpr_xgb, thresh_xgb = roc_curve(y_test, pred_xgb[:,1], pos_label=1)

## ROC Curve

In [ ]:
# matplotlib
import matplotlib.pyplot as plt
plt.style.use('seaborn')


# roc curve for tpr = fpr 
random_probs = [0 for i in range(len(y_test))]
p_fpr, p_tpr, _ = roc_curve(y_test, random_probs, pos_label=1)

# plot roc curves
plt.plot(fpr_rf, tpr_rf, linestyle='--',color='green', label='Random Forest')
plt.plot(fpr_lr, tpr_lr, linestyle='--',color='orange', label='Logistic Regression')
plt.plot(fpr_knn, tpr_knn, linestyle='--',color='yellow', label='KNN')
#plt.plot(fpr_svm, tpr_svm, linestyle='--',color='brown', label='SVM')
plt.plot(fpr_gnb,tpr_gnb, linestyle='--',color='brown', label='Navie Bayes')
plt.plot(fpr_xgb,tpr_xgb, linestyle='--',color='Red', label='XGBoost')

plt.plot(p_fpr, p_tpr, linestyle='--', color='blue')
# title
plt.title('ROC curve')
# x label
plt.xlabel('False Positive Rate')
# y label
plt.ylabel('True Positive rate')

plt.legend(loc='best')
plt.savefig('ROC',dpi=300)
plt.show();

### Conclusion

It is evident from the plot that the AUC for the XGBoost ROC curve is higher than that other ROC curves. Therefore, we can say that XGBoost did a better job of classifying the positive class in the dataset.