In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

## Our problem is classification

Hence, we wil apply these algorithms with cross flod for perlimary analysis

Nearest Neighbor

Naive Bayes

Decision Trees

Linear Regression

Support Vector Machines (SVM)

In [6]:
df = pd.read_csv('Cleaned Data.csv')
df

,Unnamed: 0,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,...,numbcars,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays
0,0,3260,998,940,1,0,0,0,0,0,...,3,0,9,0,0,0,0,0,1,365
1,1,1739,50,553,0,0,0,0,0,0,...,2,0,9,0,1,0,0,0,1,1442
2,2,7747,37,2377,0,0,0,0,0,0,...,1,0,14,1,0,0,0,0,1,1517
3,3,13937,2479,4868,0,0,0,0,0,0,...,1,0,6,0,0,0,0,0,1,438
4,4,1772,0,553,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,1,856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76214,76214,5400,303,553,0,222,2626,1377,0,0,...,2,0,5,0,0,0,0,0,1,887
76215,76215,6574,32,3069,0,0,0,0,0,0,...,0,0,9,0,0,1,0,0,1,122
76216,76216,22107,3487,5353,0,6,57,0,25,54,...,2,0,5,0,0,0,0,0,1,234
76217,76217,19043,3120,4784,0,26,190,121,0,197,...,0,0,13,0,0,0,0,0,1,886
76218,76218,26080,1706,1563,0,1084,7141,4336,0,0,...,0,0,13,0,0,0,0,0,1,493

# Random Forest

In [9]:
X= df.drop(['churn'],axis=1)
X

,Unnamed: 0,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,...,numbcars,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays
0,0,3260,998,940,1,0,0,0,0,0,...,3,0,9,0,0,0,0,0,1,365
1,1,1739,50,553,0,0,0,0,0,0,...,2,0,9,0,1,0,0,0,1,1442
2,2,7747,37,2377,0,0,0,0,0,0,...,1,0,14,1,0,0,0,0,1,1517
3,3,13937,2479,4868,0,0,0,0,0,0,...,1,0,6,0,0,0,0,0,1,438
4,4,1772,0,553,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,1,856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76214,76214,5400,303,553,0,222,2626,1377,0,0,...,2,0,5,0,0,0,0,0,1,887
76215,76215,6574,32,3069,0,0,0,0,0,0,...,0,0,9,0,0,1,0,0,1,122
76216,76216,22107,3487,5353,0,6,57,0,25,54,...,2,0,5,0,0,0,0,0,1,234
76217,76217,19043,3120,4784,0,26,190,121,0,197,...,0,0,13,0,0,0,0,0,1,886
76218,76218,26080,1706,1563,0,1084,7141,4336,0,0,...,0,0,13,0,0,0,0,0,1,493

In [2]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

NameError: name 'train_test_split' is not defined

In [ ]:
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix, roc_auc_score
def print_score(clf, X_train, X_test, y_train, y_test, train=True):
    '''
    v0.1 Follow the scikit learn library format in terms of input
    print the accuracy score, classification report and confusion matrix of classifier
    '''
    lb = preprocessing.LabelBinarizer()
    lb.fit(y_train)
    if train:
        '''
        training performance
        '''
        res = clf.predict(X_train)
        print("Train Result:\n")
        print("accuracy score: {0:.4f}\n".format(accuracy_score(y_train, 
                                                                res)))
        print("Classification Report: \n {}\n".format(classification_report(y_train, 
                                                                            res)))
        print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_train, 
                                                                  res)))
        print("ROC AUC: {0:.4f}\n".format(roc_auc_score(lb.transform(y_train), 
                                                      lb.transform(res))))

        res = cross_val_score(clf, X_train, y_train, cv=10, scoring='accuracy')
        print("Average Accuracy: \t {0:.4f}".format(np.mean(res)))
        print("Accuracy SD: \t\t {0:.4f}".format(np.std(res)))
        
    elif train==False:
        '''
        test performance
        '''
        res_test = clf.predict(X_test)
        print("Test Result:\n")        
        print("accuracy score: {0:.4f}\n".format(accuracy_score(y_test, 
                                                                res_test)))
        print("Classification Report: \n {}\n".format(classification_report(y_test, 
                                                                            res_test)))
        print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_test, 
                                                                  res_test)))   
        print("ROC AUC: {0:.4f}\n".format(roc_auc_score(lb.transform(y_test), 
                                                      lb.transform(res_test))))